### Data Types

In [1]:
# Text type i.e. String(str)

name = "saikrishna"
print(name)
type(name) # the type function will execute the date type

saikrishna

str

#### Numrical data types

In [2]:
# Integer (int)

roll_number=1528
print(roll_number)
type(roll_number)

1528

int

In [5]:
# Float 

body_weight = 72.5
print(body_weight)
type(body_weight)

72.5

float

In [6]:
# Complex (x + ij format)

x = 6j
print(x) 
type(x) # the type fuction will give data type as a complex becuase it considers 0 + 6j if there is no values

6j

complex

#### Boolean types

In [8]:
y = True
print(y)
type(y)

True

bool

In [14]:
y1= true  # if we use t as a lower_case instead of upper_case it shows error
print(y1)

NameError: name 'true' is not defined

In [17]:
# In case if we use double quotes for true then we get string
y2 = "True"
print(y2)
type(y2)

True

str

In [18]:
y3 = False
print(y3)
type(y3)

False

bool